#### APP SETTINGS
APP_ENV='development'
APP_ID=startersaas-node-api
PORT=3000
LOG_LEVEL=debug
DEBUG=true
JWT_SECRET='rwerewr'
JWT_EXPIRE='1d'

DEFAULT_LOCALE=en
AVAILABLE_LOCALES=en it

#### DATABASE SETTINGS
LOCAL_MONGO_CONNECTION='mongodb://localhost/startersaas-db'
REDIS_HOST=""
REDIS_PORT=""

#### EMAIL SETTINGS
DEFAULT_EMAIL_FROM='noreply@startersaas.com'
MAILER_HOST='localhost'
MAILER_PORT=1025
MAILER_USERNAME='foo'
MAILER_PASSWORD='bar'

STRIPE_SECRET_KEY=rwerewrew

NOTIFIED_ADMIN_EMAIL=info@startersaas.com

FATTURA24_KEY='XYZ'

FRONTEND_LOGIN_URL='http://localhost:5000/auth/login'

TRIAL_DAYS=15
PAYMENT_FAILED_RETRY_DAYS=7


